
###> symfony/framework-bundle ###
/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
/backend/phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
/backend/.phpunit.result.cache
/backend/phpunit.xml
/backend/coverage/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/backend/.php-cs-fixer.php
/backend/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/backend/.idea
###> lexik/jwt-authentication-bundle ###
backend/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> next ###
/frontend/.next
/frontend/node_modules
###< next ###

.idea