parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:setParent\\(\\)\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Envelope/Builder/CreateEnvelopeBuilder.php

		-
			message: "#^Call to an undefined method ArrayAccess\\<int, App\\\\EnvelopeManagement\\\\Domain\\\\Envelope\\\\Model\\\\EnvelopeInterface\\>\\|Countable\\|IteratorAggregate\\<int, App\\\\EnvelopeManagement\\\\Domain\\\\Envelope\\\\Model\\\\EnvelopeInterface\\>\\|Serializable\\:\\:toArray\\(\\)\\.$#"
			count: 3
			path: src/EnvelopeManagement/Domain/Envelope/Model/EnvelopeModel.php

		-
			message: "#^Call to an undefined method ArrayAccess\\<int, App\\\\EnvelopeManagement\\\\Domain\\\\Envelope\\\\Model\\\\EnvelopeInterface\\>\\|Countable\\|IteratorAggregate\\<int, App\\\\EnvelopeManagement\\\\Domain\\\\Envelope\\\\Model\\\\EnvelopeInterface\\>\\|Serializable\\:\\:add\\(\\)\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Envelope/Entity/Envelope.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Shared\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\User\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/User/CommandHandler/ChangeUserPasswordCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Shared\\\\Adapter\\\\PasswordHasherInterface\\:\\:verify\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\User\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/User/CommandHandler/ChangeUserPasswordCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Shared\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\User\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/User/CommandHandler/ResetPasswordCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setFirstname\\(\\)\\.$#"
			count: 1
			path: src/UserManagement/Domain/User/Factory/CreateUserFactory.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Shared\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, object given\\.$#"
			count: 1
			path: src/UserManagement/Domain/User/Factory/CreateUserFactory.php

		-
			message: "#^Call to an undefined method App\\\\EnvelopeManagement\\\\Domain\\\\Envelope\\\\Model\\\\EnvelopeInterface\\:\\:setId\\(\\)\\.$#"
			count: 1
			path: tests/EnvelopeManagement/Application/Envelope/CommandHandler/CreateEnvelopeCommandHandlerTest.php
