parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Adapter\\\\AMQPStreamConnectionInterface\\:\\:publishEvents\\(\\) has parameter \\$events with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Adapter/AMQPStreamConnectionInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:getUncommittedEvents\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:reconstituteFromEvents\\(\\) has parameter \\$events with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Property App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:\\$createdAt is never read, only written\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Property App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:\\$name is never read, only written\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Property App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:\\$uncommittedEvents type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Property App\\\\EnvelopeManagement\\\\Domain\\\\Aggregate\\\\Envelope\\:\\:\\$updatedAt is never read, only written\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Aggregate/Envelope.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeCreatedEvent\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeCreatedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeCreatedEvent\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeCreatedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeCreditedEvent\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeCreditedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeCreditedEvent\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeCreditedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeDebitedEvent\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeDebitedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeDebitedEvent\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeDebitedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeDeletedEvent\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeDeletedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeDeletedEvent\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeDeletedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeNamedEvent\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeNamedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EnvelopeNamedEvent\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EnvelopeNamedEvent.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EventInterface\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EventInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\Event\\\\EventInterface\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/Event/EventInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\EventStore\\\\EventStoreInterface\\:\\:load\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/EventStore/EventStoreInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\EventStore\\\\EventStoreInterface\\:\\:save\\(\\) has parameter \\$events with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/EventStore/EventStoreInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\View\\\\Envelope\\:\\:create\\(\\) has parameter \\$envelope with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/View/Envelope.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Domain\\\\View\\\\EnvelopeInterface\\:\\:create\\(\\) has parameter \\$envelope with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Domain/View/EnvelopeInterface.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Adapter\\\\AMQPStreamConnectionAdapter\\:\\:publishEvents\\(\\) has parameter \\$events with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Adapter/AMQPStreamConnectionAdapter.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\EventStore\\\\EventStore\\:\\:load\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/EventStore/EventStore.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\EventStore\\\\EventStore\\:\\:save\\(\\) has parameter \\$events with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/EventStore/EventStore.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Repository\\\\EnvelopeQueryRepository\\:\\:buildWhereClause\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Repository/EnvelopeQueryRepository.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Repository\\\\EnvelopeQueryRepository\\:\\:filterCriteria\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Repository/EnvelopeQueryRepository.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Repository\\\\EnvelopeQueryRepository\\:\\:filterCriteria\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Repository/EnvelopeQueryRepository.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Repository\\\\EnvelopeQueryRepository\\:\\:findOneBy\\(\\) has parameter \\$orderBy with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Repository/EnvelopeQueryRepository.php

		-
			message: "#^Method App\\\\EnvelopeManagement\\\\Infrastructure\\\\Repository\\\\EnvelopeQueryRepository\\:\\:mapToEnvelopeModel\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EnvelopeManagement/Infrastructure/Repository/EnvelopeQueryRepository.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/CommandHandler/ChangeUserPasswordCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Adapter\\\\PasswordHasherInterface\\:\\:verify\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/CommandHandler/ChangeUserPasswordCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, App\\\\UserManagement\\\\Domain\\\\Model\\\\UserInterface given\\.$#"
			count: 1
			path: src/UserManagement/Application/CommandHandler/ResetPasswordCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setUuid\\(\\)\\.$#"
			count: 1
			path: src/UserManagement/Domain/Factory/CreateUserFactory.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\UserManagement\\\\Domain\\\\Adapter\\\\PasswordHasherInterface\\:\\:hash\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, object given\\.$#"
			count: 1
			path: src/UserManagement/Domain/Factory/CreateUserFactory.php

		-
			message: "#^Property App\\\\Tests\\\\EnvelopeManagement\\\\Application\\\\QueryHandler\\\\ListEnvelopesQueryHandlerTest\\:\\:\\$queryBus is never read, only written\\.$#"
			count: 1
			path: tests/EnvelopeManagement/Application/QueryHandler/ListEnvelopesQueryHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\EnvelopeManagement\\\\Application\\\\QueryHandler\\\\ShowEnvelopeQueryHandlerTest\\:\\:\\$queryBus is never read, only written\\.$#"
			count: 1
			path: tests/EnvelopeManagement/Application/QueryHandler/ShowEnvelopeQueryHandlerTest.php
