parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method add\\(\\) on App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\|iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/Envelope.php

		-
			message: "#^Cannot call method contains\\(\\) on App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\|iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/Envelope.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\Envelope\\:\\:getChildren\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/Envelope.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\Envelope\\:\\:setChildren\\(\\) has parameter \\$envelopes with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/Envelope.php

		-
			message: "#^Property App\\\\Domain\\\\Envelope\\\\Entity\\\\Envelope\\:\\:\\$children type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/Envelope.php

		-
			message: "#^Cannot access an offset on iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Cannot access offset int on iterable\\.$#"
			count: 2
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Class App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection implements generic interface Iterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection\\:\\:__construct\\(\\) has parameter \\$elements with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection\\:\\:reduce\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection\\:\\:reduce\\(\\) has parameter \\$initial with no type specified\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollection\\:\\:toArray\\(\\) should return array\\<int, App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeInterface\\> but returns iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, iterable given\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Parameter \\#1 \\$array of function array_reduce expects array, iterable given\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, iterable given\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, iterable given\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, iterable given\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollection.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollectionInterface.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\:\\:reduce\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollectionInterface.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\:\\:reduce\\(\\) has parameter \\$initial with no type specified\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeCollectionInterface.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeHistory\\:\\:__construct\\(\\) has parameter \\$changes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeHistory.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeHistory\\:\\:setChanges\\(\\) has parameter \\$changes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeHistory.php

		-
			message: "#^Property App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeHistory\\:\\:\\$changes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeHistory.php

		-
			message: "#^Method App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeInterface\\:\\:getChildren\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Domain/Envelope/Entity/EnvelopeInterface.php

		-
			message: "#^Parameter \\#2 \\$changes of class App\\\\Domain\\\\Envelope\\\\Event\\\\EnvelopeEditedEvent constructor expects array\\{title\\?\\: array\\{new\\?\\: string, old\\?\\: string\\}, updatedAt\\?\\: array\\{new\\?\\: array\\{date\\?\\: string, timezone\\?\\: string, timezone_type\\?\\: int\\}, old\\?\\: array\\{date\\?\\: string, timezone\\?\\: string, timezone_type\\?\\: int\\}\\}, updatedBy\\?\\: array\\{new\\?\\: string, old\\?\\: string\\}, targetBudget\\?\\: array\\{new\\?\\: string, old\\?\\: string\\}, currentBudget\\?\\: array\\{new\\?\\: string, old\\?\\: string\\}\\}, non\\-empty\\-array\\<string, array\\{old\\: mixed, new\\: mixed\\}\\> given\\.$#"
			count: 1
			path: src/Infra/Http/Rest/Envelope/EventListener/EnvelopeEditListener.php

		-
			message: "#^Method App\\\\Infra\\\\Http\\\\Rest\\\\Envelope\\\\Serializer\\\\EnvelopeNormalizer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infra/Http/Rest/Envelope/Serializer/EnvelopeNormalizer.php

		-
			message: "#^Method App\\\\Infra\\\\Http\\\\Rest\\\\Envelope\\\\Serializer\\\\EnvelopeNormalizer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infra/Http/Rest/Envelope/Serializer/EnvelopeNormalizer.php

		-
			message: "#^Method App\\\\Infra\\\\Http\\\\Rest\\\\Envelope\\\\Serializer\\\\EnvelopeNormalizer\\:\\:normalize\\(\\) should return array but returns array\\|ArrayObject\\|bool\\|float\\|int\\|string\\|null\\.$#"
			count: 1
			path: src/Infra/Http/Rest/Envelope/Serializer/EnvelopeNormalizer.php

		-
			message: "#^Method App\\\\Infra\\\\Http\\\\Rest\\\\Envelope\\\\Serializer\\\\EnvelopeNormalizer\\:\\:supportsNormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infra/Http/Rest/Envelope/Serializer/EnvelopeNormalizer.php

		-
			message: "#^Method App\\\\Tests\\\\Application\\\\Envelope\\\\CommandHandler\\\\CreateEnvelopeCommandHandlerTest\\:\\:envelopeDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Application/Envelope/CommandHandler/CreateEnvelopeCommandHandlerTest.php

		-
			message: "#^Method App\\\\Tests\\\\Application\\\\Envelope\\\\QueryHandler\\\\ListEnvelopesQueryHandlerTest\\:\\:envelopeDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Application/Envelope/QueryHandler/ListEnvelopesQueryHandlerTest.php

		-
			message: "#^Method App\\\\Tests\\\\Application\\\\Envelope\\\\QueryHandler\\\\ListEnvelopesQueryHandlerTest\\:\\:testInvoke\\(\\) has parameter \\$envelopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Application/Envelope/QueryHandler/ListEnvelopesQueryHandlerTest.php

		-
			message: "#^Cannot call method contains\\(\\) on App\\\\Domain\\\\Envelope\\\\Entity\\\\EnvelopeCollectionInterface\\|iterable\\.$#"
			count: 1
			path: tests/Domain/Envelope/Entity/EnvelopeTest.php
